* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #020312;
  --text-color: #fff;
  --main-color: #eb4a4a;
  --second-color: gray;
  --other-color: #12141c;
  --big-font: 5.2rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 16%;
  border-bottom: 1px solid transparent;
  transition: all .40s ease;
}

.logo img {
  width: 135px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 600;
  padding: 10px 25px;
  margin: 0 2px;
  border-radius: 0.5rem;
  transition: all 0.40s ease;
}

.navbar a:hover {
  background: var(--main-color);
  color: var(--text-color);
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 160px 16% 90px;
}

.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-text h1 {
  margin: 20px 0;
  font-size: var(h1-font);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
}

span {
  color: var(--main-color);
}

.home-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.home-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  background: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  transition: all 0.40s ease;
}

.btn:hover {
  transform: scale(1.01) translateY(-5px);
  background: transparent;
  border: 1px solid var(--main-color);
}

header.sticky {
  padding: 10px 16%;
  background: var(--bg-color);
  border-bottom: 1px solid #0e1630;
  transition: 0.3s;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about-text h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}

.about-gri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}

.about-in h5 {
  font-size: 22px;
  font-weight: 600;
}

.about-img img {
  height: auto;
  width: 100%;
  max-width: 460px;
}

.main-text {
  text-align: center;
}

.main-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.main-text h4 {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.box {
  padding: 45px;
  background: var(--other-color);
  border-top: 5px solid transparent;
  transition: all 0.40s ease;
  cursor: pointer;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
  transition: all 0.40s ease;
}

.box p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 30px;
}

.box:hover {
  border-top: 5px solid var(--main-color);
  transform: scale(1.01) translateY(-5px);
}

.box:hover h3 {
  color: var(--main-color);
}